{% extends 'base.html.twig' %}

{% block body %}
	
<section class="home-main-widgets clearfix">
	{% for cat_item in cat_array %}
		<article>
			<a href="{{ cat_item.url }}">
				<img src="{{ cat_item.image }}" alt="" />
			</a>
			<h2><a href="{{ cat_item.url }}">{{ cat_item.name }}</a></h2>
		</article>
    {% endfor %}
</section>

<article class="line-news">
	<strong>Новость:</strong> <a >новое поступление эллиптических и велотренажеров</a>
</article>

<section class="bottom-widgets clearfix">
	{% for pr_item in pr_array %}
	<a class="widget" href="{{ pr_item.url }}">
		<h3 {% if pr_item.disableName == 1%}style="color:#000;background:none;"{% endif %}>{{ pr_item.name|raw }}</h3>
		<div class="url_name">{{ pr_item.urlName }}</div>
		<img src="{{ pr_item.iconWhite }}"/>
	</a>
	{% endfor %}
</section>

{% endblock %}